@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    --background: 255 255 255;
    --foreground: 17 24 39;
    --muted: 107 114 128;
    --border: 229 231 235;
  }

  .dark {
    --background: 3 7 18;
    --foreground: 243 244 246;
    --muted: 156 163 175;
    --border: 55 65 81;
  }

  body {
    @apply antialiased;
  }

  html {
    color-scheme: light;
  }

  html.dark {
    color-scheme: dark;
  }
}
