@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #030712;
  color: #f1f5f9;
}

code, pre {
  font-family: 'JetBrains Mono', 'Fira Code', 'Cascadia Code', ui-monospace, monospace;
}
